{% extends 'Base.twig' %}
{% set page = 'Preguntar' %}
{% block body %}
  <a href='index.php'>
    Home
  </a>
  <form action="index.php?controller=Preguntas&action=newPregunta" method="post">
    <input type="text" name="titulo" placeholder="Titulo" required="required" autofocus="autofocus">
    <input type="text" name="pregunta" placeholder="Pregunta" required="required">
    <input type="submit" value="Enviar">
  </form>
{% endblock %}
